@import '../../../vars';
@import '../../../mixins';

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @include adaptive-value('margin-bottom', 120, 50);

    @media(max-width: $media-tb){
        grid-template-columns: 1fr;
    }
}