@import '../../../vars';
@import '../../../mixins';

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    @include adaptive-value('margin-bottom', 120, 50);
    @include adaptive-value('gap', 120, 50);

    @media(max-width: $media-mb){
        grid-template-columns: 1fr;
    }
}

.card{
    max-width: 300px;
}

.pic{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media(max-width: $media-mb){
        margin-bottom: 15px;
    }
}

.text{
    color: #A4936F;
    @include adaptive-font(18, 15);
    text-align: center;
}