@import './vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#__next{
  height: 100%;
}

.wrapper{
  background: url(/bg.jpg) center repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
  opacity: .8;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media(max-width: $media-mb){
    padding: 0 5px;
  }
}

.main{
  padding-top: 80px;
}