@import './vars.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "~react-image-gallery/styles/scss/image-gallery.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5{
  margin: 0;
}

ol, ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

body{
  background: url(/bg.jpg) center repeat;
  background-size: cover;
  position: relative;

  &::after{
    content: '';
    background-color: rgba(5, 5, 5, 0.408);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.wrapper{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media(max-width: $media-mb){
    padding: 0 5px;
  }
}

.main{
  padding-top: 110px;

  @media(max-width: $media-mb){
    padding-top: 90px;
  }
}

.title{
  font-family: 'Cormorant', serif;
  color: #FFDF96;
  @include adaptive-font(40, 30);
  text-align: center;
  @include adaptive-value('margin-bottom', 50, 30);
}

// change slider styles ==========
.home-slider {
    & .slick-dots{
        & li{
            & button{
                border-radius: 50%;
                border: 1px solid #A4936F;
                width: 10px;
                height: 10px;
        
                &:after, &:before{
                    display: none;
                }
        
                @media(min-width: $media-big-tb){
                    &:hover{
                        background-color: #f1e9d648;
                    }
                }
            }
            &.slick-active{
                & button{
                    background-color: #FFDF96;
                }
            }
        }
    }

    & .slick-arrow{
        bottom: -30px;
        top: auto;
        width: 40px;
        height: 40px;
    
        &.slick-prev{
            left: calc(50% - 150px);
            position: absolute;
            background: url(/icons/arrow.svg) center no-repeat;
            background-size: 80%;
            transform: rotate(180deg);
            border-radius: 50%;
            overflow: hidden;
            z-index: 10;
        
            &::before{
                content: '';
                height: 40px;
                width: 40px;
                background-color: rgba(0, 0, 0, 0.223);
                display: flex;
            }
        
            @media(max-width: $media-mb){
                left: calc(50% - 130px);
            }
        }
    
        &.slick-next{
            right: calc(50% - 150px);
            position: absolute;
            background: url(/icons/arrow.svg) center no-repeat;
            background-size: 80%;
            transform: rotate(360deg);
            border-radius: 50%;
            overflow: hidden;
            z-index: 10;
        
            &::before{
                content: '';
                height: 40px;
                width: 40px;
                background-color: rgba(0, 0, 0, 0.223);
                display: flex;
            }
        
            @media(max-width: $media-mb){
                right: calc(50% - 130px);
            }
        }
    }
}

// change default gallery styles =======

.image-gallery-thumbnail{
    opacity: .5;
    cursor: pointer;
    transition: opacity ease .2s;
    &.active, &:focus{
        border: 4px solid transparent;
        opacity: 1;
    }
    
    &:hover{
        border: 4px solid transparent;
        opacity: 1;
    }
}

.image-gallery-thumbnails-container{
  @media(max-width: $media-mb){
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 5px;
  }
}

.image-gallery-slide {
  & .image-gallery-image{
    width: 99%;
  }
}