@import '../../vars';

.diviner{
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
    opacity: .3;
    
    @media(max-width: $media-mb){
        margin-bottom: 40px;
    }
}

.line{
    width: 100%;
    height: 1px;
    background-color: #E8FFCA;
}

.figure{
    background: url(/icons/Union.svg) center no-repeat;
    background-size: cover;
    height: 20px;
}