@import '../../vars.scss';

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    background-color: rgba(20, 45, 39, 0.6);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 1100px){
        height: auto;
        padding: 20px 0;
    }
}

.blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
    @media(max-width: 1100px){
        flex-direction: column;
        gap: 15px;
    }
}

.contacts{
    display: flex;

    @media(max-width: $media-mb){
        justify-content: space-around;
        width: 100%;
    }
}

.tel{
    margin-right: 40px;
    color: rgba(164, 147, 111, 0.7);
    padding: 0 5px;
    cursor: pointer;
    transition: color ease .2s;

    @media(min-width: $media-tb){
        &:hover{
            color: #7a6d50;
        }
    }

    @media(max-width: $media-mb){
        margin-right: 0;
    }
}

.mail{
    color: rgba(164, 147, 111, 0.7);
    padding: 0 5px;
    cursor: pointer;
    transition: color ease .2s;

    @media(min-width: $media-tb){
        &:hover{
            color: #7a6d50;
        }
    }
}

.nav{
    display: flex;
    color: rgba(164, 147, 111, 0.7);

    & a{
        margin-right: 40px;
        transition: color ease .2s;

        &:last-child{
            margin-right: 0;
        }

        @media(min-width: $media-tb){
            &:hover{
                color: #7a6d50;
            }
        }
    }

    @media(max-width: $media-mb){
        flex-direction: column;
        text-align: center;
        width: 100%;

        & a{
            margin-right: 0;
            width: 100%;
            padding: 3px 0;
        }
    }
}

.social{
    display: flex;

    & img{
        width: 20px;
        height: 20px;
        margin-right: 15px;
        cursor: pointer;
        
        &:last-child{
            margin-right: 0;
        }
    }

    @media(max-width: $media-mb){
        width: 100%;
        justify-content: space-around;

        & img{
            margin-right: 0;
        }
    }
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    color: #A4936FB2;
    height: 40px;
}