@import '../../vars.scss';
@import '../../mixins';


.overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.window{
    @include adaptive-value('padding-top', 70, 30);
    @include adaptive-value('padding-bottom', 70, 30);
    @include adaptive-value('padding-left', 70, 10);
    @include adaptive-value('padding-right', 70, 10);
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 1100px;
    position: relative;

    &::before{
        content: '';
        background: linear-gradient(270deg, rgba(15, 11, 10, 0.3) 0%, #21140E 48.44%, rgba(8, 6, 5, 0.3) 100%);
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.wrapper{
    position: relative;
    z-index: 1;
    overflow: auto;
}

.title{
    text-align: center;
    @include adaptive-font(50, 30);
    color: #FFDF96;
    font-family: 'Cormorant' serif;
    font-weight: 400;
    @include adaptive-value('margin-bottom', 30, 20);
}

.subtitle{
    text-align: center;
    @include adaptive-font(18, 15);
    color: #A4936F;
    margin-top: 0;
    @include adaptive-value('margin-bottom', 40, 30);

}

.inputs{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;

    @media(max-width: $media-mb){
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
}

.inpItem{
    width: 250px;
    position: relative;

    & input{
        width: 100%;
        border: 1px solid #FFDF96;
        border-radius: 36px;
        background-color: transparent;
        padding: 10px 15px;
        outline: none;
        color: #FFDF96;

        &::placeholder{
            color: rgba(255, 223, 150, 0.4);
        }
    }

    & label{
        color: #FFDF96;
        font-size: 12px;
        padding: 0 8px;
        background-color: #151611;
        position: absolute;
        top: -10px;
        left: 15px;
        z-index: 1;
    }

    @media(max-width: $media-mb){
        width: 100%;
    }
}

.buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;

    @media(max-width: $media-mb){
        flex-direction: column;
        align-items: center;
    }
}

.btn{
    border-radius: 36px;
    border: 1px solid #FFDF96;
    color: #FFDF96;
    padding: 10px 30px;
    background-color: transparent;
    cursor: pointer;
    transition: all ease .2s;
    width: 250px;
    font-size: 16px;

    &.filled{
        background-color: #FFDF96;
        color: #381207;

        @media(min-width: $media-big-tb){
            &:hover{
                background-color: #fdd370;
                color: #381207;
            }
        }
    }

    @media(min-width: $media-big-tb){
        &:hover{
            border: 1px solid #fdd370;
            color: #fdd370;
        }
    }

    @media(max-width: $media-mb){
        width: 100%;
    }
}

.copy{
    color: #98AD7E;
    font-family: 'Roboto', serif;
    font-size: 12px;
    text-align: center;
}

.error{
    position: absolute;
    bottom: -15px;
    padding: 2px 5px;
    border-radius: 20px;
    right: 0;
    background-color: rgb(255, 136, 136);
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
}