@import '../../vars.scss';
@import '../../mixins';

.item{
    border-radius: 16px;
    padding: 25px 50px;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', serif;
    cursor: pointer;

    &::before{
        content: '';
        background: linear-gradient(270deg, rgba(8, 6, 5, 0.3) 0%, #080605 48.44%, rgba(8, 6, 5, 0.3) 100%);
        opacity: .6;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: opacity .2s ease;
    }

    @media(min-width: $media-big-tb){
        &:hover{
            &::before{
                opacity: .8;
            }
        }
    }

    @media(max-width: $media-big-tb){
        padding: 20px;
    }

    @media(max-width: $media-mb){
        padding: 10px;
    }
}

.itemInner{
    position: relative;
    z-index: 1;
    color: #A4936F;
}

.author{
    color: #FFDF96;
    font-family: 'Carmorant', serif;
    @include adaptive-font(20, 18);
    margin-bottom: 5px;

    @media(max-width: $media-mb){
        text-align: center;
        margin-bottom: 10px;
    }
}

.info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 12px;

    @media(max-width: $media-tb){
        flex-direction: column;
    }
}

.text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    & p{
        font-size: 14px;

        @media(max-width: $media-mb){
            text-align: center;
        }
    }

    @media(max-width: $media-big-tb){
        -webkit-line-clamp: 6;
    }
}

.date{
    @media(max-width: $media-mb){
        text-align: center;
    }
}
