@import '../../vars.scss';
@import '../../mixins';


.source{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A4936F;
 
     @media(max-width: $media-tb){
         justify-content: flex-start;
     }
 
     @media(max-width: $media-mb){
         justify-content: center;
     }
 }
 
 .social{
     margin-left: 10px;
     display: inline-flex;
     align-items: center;
     justify-content: center;
 
     & img{
         width: 13px;
         height: 13px;
         margin-right: 5px;
     }
 }